{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

<br>

<!--1 hàng, 2 cột: 'Create Customer' & 'Create Order'-->
<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Phone</th>
				</tr>
				
				{% for customer in customers %}
					<tr>
						<!-- tạo hyperlink 'View' để view thông tin customer, dấu '/' trong url dc thêm tự động -->
						<td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">View</a></td>
						<td>{{customer.name}}</td>
						<td>{{customer.phone}}</td>
					<tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for ord in orders %}
					<tr>
						<td>{{ord.product}}</td>
						<td>{{ord.date_created}}</td>
						<td>{{ord.status}}</td>

						<!--create buttons for 'Update' & 'Remove'-->
						<td><a class="btn btn-sm btn-info" href="">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
					<tr>
				{% endfor %}
		
			</table>
		</div>
	</div>

</div>

{% endblock %}
