{% extends 'accounts/main.html' %} <!--cho child template inherit base template -->
{% block content %} <!--child template phải nằm trong đây-->
		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Products</h5> 
				</div>
				<div class="card card-body">
					<table class="table"> <!--tạo 1 bảng gồm các trường sau-->
						<tr>
							<th>Product</th>
							<th>Category</th>
							<th>Price</th>
						</tr>

						{% for i in products %}
							<tr> 
								<!--truy cập từng thuộc tính của Product object-->
								<td>{{i.name}}</td>
								<td>{{i.category}}</td>
								<td>{{i.price}}</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}